## Favin Fernandes
## TY ET-A 
## Batch 2
## Roll No 34
## Lab 14 SIFT feature extraction & Classification using Kmeans and SVM

### Due to Memory Error only 50 images Per Class

In [3]:
#packages,libraries and modules imported and used
import numpy as np
import pandas as pd
import os
import csv
import cv2
from sklearn.cluster import KMeans

In [4]:
#Paths to images saved
folder1=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Dog"
folder2=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Cat"
folder3=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Cow"
folder4=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Goats"

In [5]:
#Feature extraction for Dog images 
i=0
for filename in os.listdir(folder1):
    if(i==50):
        break
    
    path=os.path.join(folder1,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    print("descriptor shape ",i," : ", out.shape)
    i=i+1
    
    #append to the csv file
    csv_data=out.to_csv('SIFT_dog.csv', mode='a', header=False,index=False)

descriptor shape  0  :  (1638, 128)
descriptor shape  1  :  (1076, 128)
descriptor shape  2  :  (2665, 128)
descriptor shape  3  :  (1076, 128)
descriptor shape  4  :  (1697, 128)
descriptor shape  5  :  (4116, 128)
descriptor shape  6  :  (678, 128)
descriptor shape  7  :  (612, 128)
descriptor shape  8  :  (863, 128)
descriptor shape  9  :  (472, 128)
descriptor shape  10  :  (1166, 128)
descriptor shape  11  :  (2529, 128)
descriptor shape  12  :  (2379, 128)
descriptor shape  13  :  (2224, 128)
descriptor shape  14  :  (954, 128)
descriptor shape  15  :  (2723, 128)
descriptor shape  16  :  (834, 128)
descriptor shape  17  :  (3777, 128)
descriptor shape  18  :  (694, 128)
descriptor shape  19  :  (1158, 128)
descriptor shape  20  :  (1022, 128)
descriptor shape  21  :  (859, 128)
descriptor shape  22  :  (954, 128)
descriptor shape  23  :  (1600, 128)
descriptor shape  24  :  (942, 128)
descriptor shape  25  :  (834, 128)
descriptor shape  26  :  (2299, 128)
descriptor shape  27  :  (834, 128)
descriptor shape  28  :  (509, 128)
descriptor shape  29  :  (1380, 128)
descriptor shape  30  :  (794, 128)
descriptor shape  31  :  (1846, 128)
descriptor shape  32  :  (2299, 128)
descriptor shape  33  :  (942, 128)
descriptor shape  34  :  (2797, 128)
descriptor shape  35  :  (1104, 128)
descriptor shape  36  :  (620, 128)
descriptor shape  37  :  (1844, 128)
descriptor shape  38  :  (1658, 128)
descriptor shape  39  :  (3054, 128)
descriptor shape  40  :  (3790, 128)
descriptor shape  41  :  (1147, 128)
descriptor shape  42  :  (3352, 128)
descriptor shape  43  :  (667, 128)
descriptor shape  44  :  (2053, 128)
descriptor shape  45  :  (2463, 128)
descriptor shape  46  :  (810, 128)
descriptor shape  47  :  (707, 128)
descriptor shape  48  :  (1982, 128)
descriptor shape  49  :  (428, 128)

In [6]:
#Feature vector of Dogs Dataset
data1= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_dog.csv',header=None,dtype='uint8')#,dtype='uint8'
data1=data1.astype(np.uint8)

#shape
data1

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0,0,0,0,0,0,0,0,1,26,...,118,80,16,20,29,29,34,19,36,47
1,10,17,46,37,19,21,85,36,6,4,...,10,28,5,0,1,15,12,10,44,100
2,6,9,6,37,16,0,0,0,17,17,...,7,27,32,25,133,98,11,1,3,27
3,5,2,0,0,0,0,1,3,41,10,...,4,21,8,14,44,53,29,3,13,35
4,46,30,8,1,2,4,16,50,201,103,...,20,37,8,4,4,7,2,4,11,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78916,71,7,1,3,22,1,2,14,29,18,...,34,85,38,8,0,1,3,3,7,51
78917,6,6,7,36,22,5,0,3,16,14,...,3,59,6,3,6,30,68,3,1,2
78918,25,5,1,2,8,19,38,31,4,3,...,3,14,22,30,15,46,30,4,1,5
78919,12,0,0,0,1,0,1,6,2,0,...,2,86,52,18,2,5,14,5,2,11
78920,2,1,0,7,93,33,2,1,62,44,...,0,1,0,0,0,0,0,0,0,0

In [7]:
#Feature extraction for Cat images 
i=0
for filename in os.listdir(folder2):
    if(i==50):
        break
    path=os.path.join(folder2,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    print("descriptor shape ",i," : ", out.shape)
    i=i+1
    
    #append to the csv file
    csv_data=out.to_csv('SIFT_cat.csv', mode='a', header=False,index=False)

descriptor shape  0  :  (3117, 128)
descriptor shape  1  :  (3075, 128)
descriptor shape  2  :  (3203, 128)
descriptor shape  3  :  (4567, 128)
descriptor shape  4  :  (2464, 128)
descriptor shape  5  :  (1067, 128)
descriptor shape  6  :  (490, 128)
descriptor shape  7  :  (1519, 128)
descriptor shape  8  :  (394, 128)
descriptor shape  9  :  (300, 128)
descriptor shape  10  :  (1539, 128)
descriptor shape  11  :  (1268, 128)
descriptor shape  12  :  (2346, 128)
descriptor shape  13  :  (2047, 128)
descriptor shape  14  :  (1554, 128)
descriptor shape  15  :  (2631, 128)
descriptor shape  16  :  (2671, 128)
descriptor shape  17  :  (700, 128)
descriptor shape  18  :  (1289, 128)
descriptor shape  19  :  (120, 128)
descriptor shape  20  :  (805, 128)
descriptor shape  21  :  (2408, 128)
descriptor shape  22  :  (1937, 128)
descriptor shape  23  :  (1025, 128)
descriptor shape  24  :  (458, 128)
descriptor shape  25  :  (5429, 128)
descriptor shape  26  :  (1663, 128)
descriptor shape  27  :  (786, 128)
descriptor shape  28  :  (1048, 128)
descriptor shape  29  :  (1233, 128)
descriptor shape  30  :  (2462, 128)
descriptor shape  31  :  (5890, 128)
descriptor shape  32  :  (3440, 128)
descriptor shape  33  :  (4584, 128)
descriptor shape  34  :  (2376, 128)
descriptor shape  35  :  (2047, 128)
descriptor shape  36  :  (2988, 128)
descriptor shape  37  :  (1252, 128)
descriptor shape  38  :  (848, 128)
descriptor shape  39  :  (2289, 128)
descriptor shape  40  :  (1358, 128)
descriptor shape  41  :  (1963, 128)
descriptor shape  42  :  (1009, 128)
descriptor shape  43  :  (4002, 128)
descriptor shape  44  :  (3623, 128)
descriptor shape  45  :  (2364, 128)
descriptor shape  46  :  (345, 128)
descriptor shape  47  :  (2321, 128)
descriptor shape  48  :  (7361, 128)
descriptor shape  49  :  (3834, 128)

In [8]:
#Feature vector of Cats Dataset
data2= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_cat.csv',header=None,dtype='uint8')#,dtype='uint8'
data2=data2.astype(np.uint8)

#shape
data2

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0,0,1,2,10,131,21,1,63,5,...,2,11,2,7,79,16,0,0,0,0
1,37,0,0,0,53,26,3,24,143,0,...,0,16,9,101,143,51,12,0,0,4
2,7,2,0,0,0,0,0,1,31,1,...,1,2,10,33,96,57,23,18,1,1
3,4,8,11,4,0,0,125,48,2,6,...,0,0,0,0,0,0,0,0,0,0
4,35,20,9,13,16,27,26,52,94,22,...,42,24,16,2,0,0,0,2,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109504,0,0,0,0,9,8,0,0,13,2,...,24,5,13,8,19,23,18,38,128,92
109505,8,18,19,22,66,125,60,5,56,55,...,0,34,17,0,0,0,1,3,3,18
109506,16,28,4,13,44,52,20,3,132,113,...,4,6,2,3,0,0,0,1,2,2
109507,0,0,0,0,0,0,0,0,46,3,...,9,106,25,4,2,4,12,6,15,48
109508,29,6,16,16,29,4,1,14,117,14,...,16,16,25,21,70,14,9,12,3,26

In [9]:
#Feature extraction for Cow images 
i=0
for filename in os.listdir(folder3):
    if(i==50):
        break
    path=os.path.join(folder3,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    print("descriptor shape ",i," : ", out.shape)
    i=i+1
    
    #append to the csv file
    csv_data=out.to_csv('SIFT_cow.csv', mode='a', header=False,index=False)

descriptor shape  0  :  (1577, 128)
descriptor shape  1  :  (2218, 128)
descriptor shape  2  :  (1244, 128)
descriptor shape  3  :  (1828, 128)
descriptor shape  4  :  (2632, 128)
descriptor shape  5  :  (2011, 128)
descriptor shape  6  :  (2483, 128)
descriptor shape  7  :  (1681, 128)
descriptor shape  8  :  (1563, 128)
descriptor shape  9  :  (1814, 128)
descriptor shape  10  :  (1361, 128)
descriptor shape  11  :  (3063, 128)
descriptor shape  12  :  (3793, 128)
descriptor shape  13  :  (3382, 128)
descriptor shape  14  :  (2357, 128)
descriptor shape  15  :  (1212, 128)
descriptor shape  16  :  (2011, 128)
descriptor shape  17  :  (3874, 128)
descriptor shape  18  :  (4130, 128)
descriptor shape  19  :  (2350, 128)
descriptor shape  20  :  (2175, 128)
descriptor shape  21  :  (480, 128)
descriptor shape  22  :  (1751, 128)
descriptor shape  23  :  (2674, 128)
descriptor shape  24  :  (3507, 128)
descriptor shape  25  :  (593, 128)
descriptor shape  26  :  (635, 128)
descriptor shape  27  :  (1846, 128)
descriptor shape  28  :  (2722, 128)
descriptor shape  29  :  (2203, 128)
descriptor shape  30  :  (526, 128)
descriptor shape  31  :  (962, 128)
descriptor shape  32  :  (1129, 128)
descriptor shape  33  :  (1420, 128)
descriptor shape  34  :  (741, 128)
descriptor shape  35  :  (1689, 128)
descriptor shape  36  :  (1394, 128)
descriptor shape  37  :  (719, 128)
descriptor shape  38  :  (220, 128)
descriptor shape  39  :  (1097, 128)
descriptor shape  40  :  (1521, 128)
descriptor shape  41  :  (673, 128)
descriptor shape  42  :  (1816, 128)
descriptor shape  43  :  (2049, 128)
descriptor shape  44  :  (3107, 128)
descriptor shape  45  :  (1455, 128)
descriptor shape  46  :  (1632, 128)
descriptor shape  47  :  (1910, 128)
descriptor shape  48  :  (2218, 128)
descriptor shape  49  :  (3382, 128)

In [10]:
#Feature vector of Cows Dataset
data3= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_cow.csv',header=None,dtype='uint8')#,dtype='uint8'
data3=data3.astype(np.uint8)

#shape
data3

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0,0,0,0,0,0,0,0,32,27,...,0,15,77,14,1,1,2,1,0,3
1,0,0,0,1,0,0,2,0,3,11,...,37,20,34,27,12,20,7,14,20,24
2,32,6,1,28,111,43,31,66,142,14,...,0,0,0,0,0,0,0,0,0,0
3,5,3,2,5,6,27,108,30,6,12,...,13,5,1,0,0,0,0,0,0,0
4,37,8,0,13,114,60,4,8,137,64,...,0,0,32,28,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94825,0,0,0,0,0,0,0,0,39,51,...,11,55,81,24,14,1,0,0,16,135
94826,0,0,0,0,0,0,0,0,19,0,...,50,142,29,3,25,50,14,0,4,85
94827,7,1,0,0,0,0,2,11,154,2,...,28,35,0,0,0,82,154,10,6,1
94828,0,0,0,0,5,125,125,1,5,2,...,3,1,0,2,99,125,68,39,0,0
94829,0,0,0,0,0,0,0,0,0,4,...,122,51,2,30,47,7,15,117,33,26

In [11]:
#Feature extraction for goat images 
i=0
for filename in os.listdir(folder4):
    if(i==50):
        break
    path=os.path.join(folder4,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    print("descriptor shape ",i," : ", out.shape)
    i=i+1
    #append to the csv file
    csv_data=out.to_csv('SIFT_goat.csv', mode='a', header=False,index=False)

descriptor shape  0  :  (3302, 128)
descriptor shape  1  :  (893, 128)
descriptor shape  2  :  (1972, 128)
descriptor shape  3  :  (5635, 128)
descriptor shape  4  :  (1051, 128)
descriptor shape  5  :  (381, 128)
descriptor shape  6  :  (503, 128)
descriptor shape  7  :  (1709, 128)
descriptor shape  8  :  (1822, 128)
descriptor shape  9  :  (906, 128)
descriptor shape  10  :  (4903, 128)
descriptor shape  11  :  (574, 128)
descriptor shape  12  :  (2915, 128)
descriptor shape  13  :  (3776, 128)
descriptor shape  14  :  (791, 128)
descriptor shape  15  :  (4903, 128)
descriptor shape  16  :  (3190, 128)
descriptor shape  17  :  (1262, 128)
descriptor shape  18  :  (1197, 128)
descriptor shape  19  :  (459, 128)
descriptor shape  20  :  (1608, 128)
descriptor shape  21  :  (1226, 128)
descriptor shape  22  :  (2757, 128)
descriptor shape  23  :  (3583, 128)
descriptor shape  24  :  (790, 128)
descriptor shape  25  :  (1846, 128)
descriptor shape  26  :  (2380, 128)
descriptor shape  27  :  (1316, 128)
descriptor shape  28  :  (2220, 128)
descriptor shape  29  :  (1088, 128)
descriptor shape  30  :  (498, 128)
descriptor shape  31  :  (1912, 128)
descriptor shape  32  :  (2996, 128)
descriptor shape  33  :  (1366, 128)
descriptor shape  34  :  (1140, 128)
descriptor shape  35  :  (1838, 128)
descriptor shape  36  :  (412, 128)
descriptor shape  37  :  (1719, 128)
descriptor shape  38  :  (3121, 128)
descriptor shape  39  :  (1241, 128)
descriptor shape  40  :  (3228, 128)
descriptor shape  41  :  (1788, 128)
descriptor shape  42  :  (2317, 128)
descriptor shape  43  :  (2546, 128)
descriptor shape  44  :  (2765, 128)
descriptor shape  45  :  (4377, 128)
descriptor shape  46  :  (2077, 128)
descriptor shape  47  :  (1068, 128)
descriptor shape  48  :  (2266, 128)
descriptor shape  49  :  (562, 128)

In [12]:
#Feature vector of Cows Dataset
data4= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_goat.csv',header=None,dtype='uint8')
data4=data4.astype(np.uint8)

#shape
data4

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,6,12,70,28,14,40,41,44,33,20,...,1,1,1,10,33,0,0,0,0,1
1,127,50,17,1,0,3,5,69,73,54,...,34,25,1,0,0,0,0,0,5,2
2,1,31,99,103,3,0,0,0,22,69,...,6,5,0,5,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,17,11,...,10,21,35,4,56,60,4,0,3,132
4,110,55,4,0,0,0,3,37,114,123,...,12,20,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100190,12,23,46,68,79,64,41,17,123,123,...,21,0,6,14,4,3,15,57,27,9
100191,0,0,10,145,134,3,0,0,103,16,...,0,36,6,14,20,8,2,1,1,0
100192,130,58,3,0,0,1,2,45,177,46,...,0,0,0,0,0,0,0,0,0,0
100193,151,113,6,18,81,11,1,1,166,154,...,0,0,0,4,4,1,0,0,0,0
100194,16,6,11,120,10,0,0,3,5,3,...,0,2,12,16,3,3,6,11,3,1

In [13]:
data1=data1.append(data2)
data1=data1.append(data3)
data1=data1.append(data4)

csv_data=data1.to_csv('Final_SIFT.csv', mode='a',header=False,index=False)

In [14]:
data= pd.read_csv(r'Final_SIFT.csv',header=None,dtype='uint8')
data=data.astype(np.uint8)

#shape
data

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0,0,0,0,0,0,0,0,1,26,...,118,80,16,20,29,29,34,19,36,47
1,10,17,46,37,19,21,85,36,6,4,...,10,28,5,0,1,15,12,10,44,100
2,6,9,6,37,16,0,0,0,17,17,...,7,27,32,25,133,98,11,1,3,27
3,5,2,0,0,0,0,1,3,41,10,...,4,21,8,14,44,53,29,3,13,35
4,46,30,8,1,2,4,16,50,201,103,...,20,37,8,4,4,7,2,4,11,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383450,12,23,46,68,79,64,41,17,123,123,...,21,0,6,14,4,3,15,57,27,9
383451,0,0,10,145,134,3,0,0,103,16,...,0,36,6,14,20,8,2,1,1,0
383452,130,58,3,0,0,1,2,45,177,46,...,0,0,0,0,0,0,0,0,0,0
383453,151,113,6,18,81,11,1,1,166,154,...,0,0,0,4,4,1,0,0,0,0
383454,16,6,11,120,10,0,0,3,5,3,...,0,2,12,16,3,3,6,11,3,1

In [15]:
#performing kmeans on each class
#Dog
kmeans = KMeans(n_clusters=5)
kmeans.fit(data)

KMeans(n_clusters=5)

In [60]:
#histograms of all the classes

hist1=np.histogram(kmeans.labels_,bins=[0,1,2,3,4,5])

print('histogram')
print(hist1,"\n")

histogram
(array([111567,  47602, 107509,  51103,  65674], dtype=int32), array([0, 1, 2, 3, 4, 5]))

In [17]:
#performing kmeans prediction of the entire Dog dataset with the pretrained kmeans model


#initialising i=0; as its the first class
i=0
data=[]
k=0
for filename in os.listdir(folder1):
    if(k==50):
        break
    path=os.path.join(folder1,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    k=k+1
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('SIFT_DogFinal.csv', mode='a',header=False,index=False)

In [18]:
#performing kmeans prediction of the entire Cat dataset with the pretrained kmeans model


#initialising i=1;
i=1
data=[]
k=0
for filename in os.listdir(folder2):
    if(k==50):
        break
    path=os.path.join(folder2,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    k=k+1
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('SIFT_CatFinal.csv', mode='a',header=False,index=False)

In [19]:
#performing kmeans prediction of the entire Cow dataset with the pretrained kmeans model


#initialising i=2;
i=2
data=[]
k=0
for filename in os.listdir(folder3):
    if(k==50):
        break
    path=os.path.join(folder3,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    k=k+1
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('SIFT_CowFinal.csv', mode='a',header=False,index=False)

In [20]:
#performing kmeans prediction of the entire Goats dataset with the pretrained kmeans model


#initialising i=3;
i=3
data=[]
k=0
for filename in os.listdir(folder4):
    if(k==50):
        break
    path=os.path.join(folder4,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise sift descriptor
    sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = sift.detectAndCompute(gray, None)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    k=k+1
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('SIFT_GoatFinal.csv', mode='a',header=False,index=False)

In [21]:
#Displaying the kmeans predicted data
print("Dog")
dat1= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_DogFinal.csv',header=None)
print(dat1)

Dog
       0    1     2    3    4  5
0    447  156   469  220  346  0
1    236  175   236  203  226  0
2    762  378   803  330  392  0
3    236  175   236  203  226  0
4    547  155   490  239  266  0
5   1304  481  1282  492  557  0
6    122  112   138   43  263  0
7    109  131   135   70  167  0
8    186  119   193  115  250  0
9    123   64   133   27  125  0
10   233  240   215  175  303  0
11   598  423   658  313  537  0
12   743  287   739  280  330  0
13   572  328   441  375  508  0
14   175  189   210  145  235  0
15   595  525   658  402  543  0
16   244   58   215   86  231  0
17   838  830   918  716  475  0
18   150   92   222   64  166  0
19   270  154   371  122  241  0
20   208  161   254  100  299  0
21   177  103   232   68  279  0
22   221  100   243   89  301  0
23   483  148   371  214  384  0
24   301   80   291  127  143  0
25   244   58   215   86  231  0
26   614  292   708  292  393  0
27   244   58   215   86  231  0
28   111   39   106   56  197  0
29   352  175   327  224  302  0
30   239  111   152  160  132  0
31   476  280   510  227  353  0
32   614  292   708  292  393  0
33   301   80   291  127  143  0
34   826  397   811  369  394  0
35   209  217   297  149  232  0
36   126   97   164   55  178  0
37   606  148   550  170  370  0
38   431  241   476  188  322  0
39   674  622   765  476  517  0
40  1220  515  1221  563  271  0
41   239  184   350  127  247  0
42   802  595   812  632  511  0
43   171   67   175   93  161  0
44   611  293   581  259  309  0
45   756  341   553  428  385  0
46   155  120   168  110  257  0
47   149  113   159   74  212  0
48   476  244   425  335  502  0
49    88   54   160   49   77  0

In [22]:
print("Cat")
dat2= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_CatFinal.csv',header=None)
print(dat2)

Cat
       0     1     2    3    4  5
0   1114   279   745  503  476  1
1    838   379   978  324  556  1
2    990   326  1073  403  411  1
3   1425   582  1470  609  481  1
4    993   226   788  230  227  1
5    187   107   159  192  422  1
6     59    94   240   23   74  1
7    309   348   278  291  293  1
8     93    64    78   33  126  1
9     97    30    77   45   51  1
10   265   293   483  228  270  1
11   344   178   380  144  222  1
12   664   333   675  272  402  1
13   662   273   761  214  137  1
14   449   220   425  234  226  1
15   840   324   657  429  381  1
16   796   366   941  301  267  1
17    56    98   406   35  105  1
18   304   232   336  198  219  1
19    19     8    51    5   37  1
20   329    64   200   79  133  1
21   794   263   778  275  298  1
22   545   265   653  171  303  1
23   167   271   257  165  165  1
24    99    56    97   58  148  1
25  2024   544  1766  780  315  1
26   564   163   480  215  241  1
27   351    58   213  117   47  1
28   405    71   322  117  133  1
29   457    91   337  176  172  1
30  1098   178   732  275  179  1
31  2426   409  2263  605  187  1
32  1170   427  1166  472  205  1
33  1067  1033  1569  509  406  1
34   777   266   740  313  280  1
35   561   282   554  316  334  1
36  1029   315   929  387  328  1
37   431   101   350  153  217  1
38   150    78   213   72  335  1
39   690   273   621  303  402  1
40   451   140   448  112  207  1
41   562   278   472  339  312  1
42   293    98   379   74  165  1
43  1425   350  1105  620  502  1
44  1212   354  1064  551  442  1
45   644   243   549  321  607  1
46    77    25    82   36  125  1
47   733   246   728  304  310  1
48  2487  1009  2495  950  420  1
49  1384   409  1318  439  284  1

In [23]:
print("Cow")
dat3= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_CowFinal.csv',header=None)
print(dat3)

Cow
       0    1     2    3    4  5
0    289  228   472  144  444  2
1    541  328   568  236  545  2
2    205  173   337  122  407  2
3    449  301   410  276  392  2
4    686  324   663  399  560  2
5    544  256   432  332  447  2
6    748  249   634  358  494  2
7    485  170   453  246  327  2
8    439  120   438  194  372  2
9    421  283   619  159  332  2
10   477   82   442  149  211  2
11   887  388   833  441  514  2
12  1117  454  1114  471  637  2
13   991  363   989  410  629  2
14   628  321   582  370  456  2
15   333  132   337  123  287  2
16   484  352   526  328  321  2
17  1179  495   974  596  630  2
18  1234  512  1168  651  565  2
19   714  256   576  376  428  2
20   524  337   566  286  462  2
21    64   33   189   90  104  2
22   455  197   465  239  395  2
23   913  196   753  342  470  2
24  1007  511   950  480  559  2
25   176   69   104  109  135  2
26   152   85   148   61  189  2
27   517  188   635  144  362  2
28   753  315   782  355  517  2
29   748  190   596  217  452  2
30   156   69   142   60   99  2
31   428   62   141  127  204  2
32   269  122   371  108  259  2
33   395  144   317  199  365  2
34   186   85   148   65  257  2
35   489  189   352  227  432  2
36   327  200   353  190  324  2
37   211   44   170   95  199  2
38    81    9    21   58   51  2
39   201  172   218  137  369  2
40   356  191   343  247  384  2
41   162   75   190   81  165  2
42   385  307   387  286  451  2
43   533  346   624  243  303  2
44   869  402   728  487  621  2
45   480  125   307  195  348  2
46   380  240   436  202  374  2
47   468  277   411  329  425  2
48   541  328   568  236  545  2
49   991  363   989  410  629  2

In [24]:
print("Goat")
dat4= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\SIFT_GoatFinal.csv',header=None)
print(dat4)

Goat
       0    1     2    3    4  5
0   1091  430  1107  380  294  3
1    164  153   202   84  290  3
2    499  252   437  316  468  3
3   1868  671  1697  827  572  3
4    243  118   308  100  282  3
5    124   38    60   52  107  3
6    115   44    93   60  191  3
7    334  277   410  267  421  3
8    386  203   519  227  487  3
9    197  110   207   79  313  3
10  1826  399  1593  670  415  3
11   136   57   134   71  176  3
12   889  291   952  366  417  3
13  1140  576  1066  563  431  3
14   183  110   177   54  267  3
15  1826  399  1593  670  415  3
16  1218  245   909  547  271  3
17   377  158   405  135  187  3
18   306  175   188  235  293  3
19    77   56    78   30  218  3
20   483  225   385  339  176  3
21   244  160   268  237  317  3
22   829  226   676  500  526  3
23  1307  420  1233  234  389  3
24   172  107   153  156  202  3
25   672  262   408  255  249  3
26   788  284   628  394  286  3
27   357  188   352  203  216  3
28   592  305   599  329  395  3
29   303  131   240  169  245  3
30   103  116   129   66   84  3
31   812  107   331  234  428  3
32   896  425  1022  379  274  3
33   330  161   315  234  326  3
34   334   97   287  138  284  3
35   370  226   344  306  592  3
36    66   61    71   56  158  3
37   636  168   372  255  288  3
38  1033  279   770  409  630  3
39   356  168   265  164  288  3
40   998  372  1126  352  380  3
41   448  201   610  177  352  3
42   672  195   595  287  568  3
43   674  373   685  253  561  3
44   692  388   616  470  599  3
45  1356  412  1336  524  749  3
46   652  180   542  244  459  3
47   299  135   300  162  172  3
48   416  297   635  239  679  3
49    90   96   177   57  142  3

In [25]:
#appending All classes into 1 csv file

A=dat1.append(dat2)
A=A.append(dat3)
A=A.append(dat4)

csv_data=A.to_csv('Reduced_SIFT_Final.csv', mode='a',header=False,index=False)

In [49]:
data= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB13\Reduced_SIFT_Final.csv',header=None)
#data.columns=['1','2','3','4','5','Class']
#Total no of images = 200
data
#x = data.iloc[0:1, 0:6]
#print(x)

        0    1     2    3    4  5
0     447  156   469  220  346  0
1     236  175   236  203  226  0
2     762  378   803  330  392  0
3     236  175   236  203  226  0
4     547  155   490  239  266  0
..    ...  ...   ...  ...  ... ..
195  1356  412  1336  524  749  3
196   652  180   542  244  459  3
197   299  135   300  162  172  3
198   416  297   635  239  679  3
199    90   96   177   57  142  3

[200 rows x 6 columns]

## Training and Testing

In [50]:
#assigning x the columns from 1 to 5 for training
x = data.iloc[:, 0:5]
print("X values")
print(x)

#assigning y with the column "Class" as target variable
y = data.iloc[:,5]
print("Y values")
print(y)

X values
        0    1     2    3    4
0     447  156   469  220  346
1     236  175   236  203  226
2     762  378   803  330  392
3     236  175   236  203  226
4     547  155   490  239  266
..    ...  ...   ...  ...  ...
195  1356  412  1336  524  749
196   652  180   542  244  459
197   299  135   300  162  172
198   416  297   635  239  679
199    90   96   177   57  142

[200 rows x 5 columns]
Y values
0      0
1      0
2      0
3      0
4      0
      ..
195    3
196    3
197    3
198    3
199    3
Name: 5, Length: 200, dtype: int64

In [51]:
#standard scaling

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [52]:
#Dataset split into train and test with 80% Training and 20% Testing
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.20, random_state=0)

### Model Trained with 50 Images

In [56]:
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score

from sklearn import svm

#Create a svm Classifier
model1 = svm.SVC(kernel='linear',decision_function_shape='ovo')
#n_classes * (n_classes - 1) / 2
model2 = svm.SVC(kernel='rbf',decision_function_shape='ovo')

model3 = svm.SVC(kernel='poly',decision_function_shape='ovo')

#Train the model using the training sets
model1.fit(x_train, y_train)
model2.fit(x_train, y_train)
model3.fit(x_train, y_train)

#Predict the response for test dataset
y_pred1 = model1.predict(x_test)
y_pred2 = model2.predict(x_test)
y_pred3 = model3.predict(x_test)
#Results
print("SVM Results")

print("SVM Linear: Accuracy: ",accuracy_score(y_test, y_pred1)*100,"%")

print("SVM Poly: Accuracy: ",accuracy_score(y_test, y_pred3)*100,"%")

print("SVM rbf: Accuracy: ",accuracy_score(y_test, y_pred2)*100,"%")

SVM Results
SVM Linear: Accuracy:  25.0 %
SVM Poly: Accuracy:  30.0 %
SVM rbf: Accuracy:  30.0 %

In [57]:
#Recognition &Validation
data=[]
path=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\DATA\Cat\30.jpg"
#Assigning path with class class image
a=cv2.imread(path)
resize=(512,512)
img=cv2.resize(a,resize)
gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
#initialise sift descriptor
sift = cv2.xfeatures2d.SIFT_create()
keypoints, descriptors = sift.detectAndCompute(gray, None)
    
#convert the descriptor array into a dataframe format
out=pd.DataFrame(descriptors)
print(out)
#predict values of feature vector with pretrained kmeans
#ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
array_double = np.array(out, dtype=np.double)
a=kmeans.predict(array_double)
hist=np.histogram(a,bins=[0,1,2,3,4,5])
#append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
data.append(hist[0])

output=pd.DataFrame(data)
print(output)

       0     1     2     3      4     5    6     7      8     9    ...   118  \
0     12.0  92.0  70.0  60.0    7.0   1.0  3.0   5.0    0.0   4.0  ...   2.0
1     10.0   0.0   0.0  24.0  140.0  30.0  2.0   9.0   69.0   0.0  ...  86.0
2      0.0   0.0   0.0   0.0    0.0   0.0  0.0   0.0    0.0   0.0  ...   2.0
3     34.0  18.0  35.0   7.0    0.0   0.0  0.0  19.0  134.0  65.0  ...  56.0
4      0.0   0.0   0.0   0.0    0.0   0.0  0.0   0.0    1.0   1.0  ...  36.0
...    ...   ...   ...   ...    ...   ...  ...   ...    ...   ...  ...   ...
5424   5.0   0.0   0.0   1.0    7.0   0.0  0.0   0.0   15.0   0.0  ...   6.0
5425   7.0  14.0  17.0   1.0    0.0   0.0  3.0  11.0   38.0  53.0  ...  13.0
5426   0.0   0.0   0.0   0.0    0.0   0.0  0.0   0.0    0.0   4.0  ...  17.0
5427   5.0   0.0   0.0   0.0    0.0   0.0  0.0   0.0    1.0   0.0  ...   8.0
5428   1.0   0.0   0.0   0.0    0.0   0.0  0.0   3.0  130.0   0.0  ...  46.0

       119   120   121    122    123   124   125   126   127
0      0.0   0.0   0.0    3.0    6.0   3.0   2.0   0.0   0.0
1     85.0   1.0   1.0    2.0    2.0  36.0  96.0  26.0   1.0
2      5.0  28.0  56.0   32.0  136.0  91.0   4.0   1.0   1.0
3     67.0  10.0  60.0  134.0   55.0  47.0  13.0   6.0   3.0
4     35.0   5.0  42.0   39.0   11.0   8.0  16.0  88.0  13.0
...    ...   ...   ...    ...    ...   ...   ...   ...   ...
5424  11.0   2.0   0.0   21.0   67.0  10.0   6.0  56.0  35.0
5425  28.0  19.0  25.0   39.0   22.0  25.0  93.0  19.0   8.0
5426  47.0   1.0   3.0  121.0  121.0  50.0   7.0  14.0  11.0
5427  33.0  20.0  14.0   28.0   60.0  14.0   1.0   1.0   3.0
5428  21.0  45.0  47.0   41.0   38.0  15.0   7.0  61.0  77.0

[5429 rows x 128 columns]
      0    1     2    3    4
0  2024  544  1766  780  315

In [58]:
#assigning the columns 0 to 4 of new image as training variables
x = output.iloc[:, 0:5]

x=scaler.transform(x)


#prediction
y_pred1 = model1.predict(x)
out=y_pred1
#prints the prediction of the class

print(y_pred1)

[1]

In [59]:
#Recognition of image
#checking for an class and printing the recognised class        
if out==0:
    print("Dog")
elif out==1:
    print("Cat")
elif out==2:
    print("Cow")  
elif out==3:
    print("Goat")

Cat