## Favin Fernandes
## TY ET-A 
## Batch 2
## Roll No 34
## Lab 11 Fast & Brief using Kmeans

In [1]:
#packages,libraries and modules imported and used
import numpy as np
import pandas as pd
import os
import csv
import cv2
from sklearn.cluster import KMeans

In [2]:
#Paths to images saved
folder1=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Dog"
folder2=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Cat"
folder3=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Cow"
folder4=r"C:\Users\francis\Desktop\2nd Semester\CV\CourseProject\Dataset\Goats"

In [3]:
#Feature extraction for Dog images 

for filename in os.listdir(folder1):
    path=os.path.join(folder1,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #append to the csv file
    csv_data=out.to_csv('fast_dog.csv', mode='a', index=False)

In [4]:
#Feature vector of Dogs Dataset
data1= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_dog.csv',dtype='uint8')
#MemoryError: Unable to allocate 166. MiB for an array with shape (128, 169606) and data type float64,
#Double-precision floating-point format

data1=data1.astype(np.uint8) 
#as unit8 contain 1 byte(8bit) and ranges from 0 to 255
data1

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,228,250,71,179,86,100,78,39,154,175,...,0,207,14,105,26,61,65,168,250,71
1,180,249,82,202,48,234,173,130,212,111,...,147,229,38,105,84,161,81,227,16,5
2,164,250,7,187,215,100,78,103,90,164,...,0,205,14,73,90,61,193,160,127,70
3,178,249,122,201,24,200,43,146,148,123,...,115,245,50,106,214,181,149,199,16,4
4,178,241,122,203,90,192,79,150,146,123,...,83,213,6,74,195,181,210,199,16,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278591,88,87,102,124,59,178,47,76,35,199,...,76,47,189,213,167,55,172,44,36,217
278592,160,124,79,187,15,118,214,41,27,227,...,0,44,13,41,166,59,74,184,199,85
278593,30,85,247,46,62,48,21,92,3,144,...,173,58,225,146,11,98,232,84,137,208
278594,74,5,108,246,43,54,165,153,27,135,...,103,42,249,212,45,87,186,79,130,253
278595,179,38,61,6,175,66,131,220,118,146,...,79,44,235,222,37,215,154,214,13,122

In [5]:
#Feature extraction for Cat images 

for filename in os.listdir(folder2):
    path=os.path.join(folder2,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #append to the csv file
    csv_data=out.to_csv('fast_cat.csv', mode='a', index=False)

In [6]:
#Feature vector of Cats Dataset
data2 = pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_cat.csv',dtype='uint8')
#MemoryError: Unable to allocate 166. MiB for an array with shape (128, 169606) and data type float64,
#Double-precision floating-point format

data2=data2.astype(np.uint8) 
#as unit8 contain 1 byte(8bit) and ranges from 0 to 255
data2

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,163,187,87,155,27,114,77,19,29,243,...,17,253,1,75,86,177,204,168,114,70
1,79,129,229,6,236,141,169,153,238,4,...,167,67,243,212,89,74,26,203,51,43
2,231,105,241,0,9,204,1,186,174,61,...,32,90,113,102,91,13,23,214,115,58
3,230,120,151,10,87,118,118,40,137,231,...,12,95,20,35,202,10,64,160,242,210
4,31,143,176,192,224,9,161,215,230,24,...,255,195,242,246,17,196,57,199,29,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379349,95,87,244,68,190,151,45,220,239,140,...,125,74,251,212,57,78,186,74,92,250
379350,78,67,9,118,108,37,33,220,202,12,...,47,66,233,212,58,226,187,91,31,34
379351,149,9,56,73,12,201,141,155,230,92,...,251,128,241,254,85,232,53,215,89,43
379352,26,83,109,175,12,34,213,222,130,250,...,203,48,69,223,102,104,247,217,129,114
379353,31,23,248,229,173,153,161,149,226,26,...,255,2,240,252,181,202,122,87,64,43

In [7]:
#Feature extraction for Cow images 

for filename in os.listdir(folder3):
    path=os.path.join(folder3,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #append to the csv file
    csv_data=out.to_csv('fast_cow.csv', mode='a', index=False)

In [8]:
#Feature vector of Cows Dataset
data3 = pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_cow.csv',dtype='uint8')
#MemoryError: Unable to allocate 166. MiB for an array with shape (128, 169606) and data type float64,
#Double-precision floating-point format

data3=data3.astype(np.uint8) 
#as unit8 contain 1 byte(8bit) and ranges from 0 to 255
data3

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,28,87,47,69,76,105,129,154,230,44,...,67,19,242,220,103,249,251,215,93,43
1,9,132,23,57,38,23,170,86,17,90,...,140,169,136,107,120,53,9,104,172,5
2,35,159,12,126,107,58,240,84,17,210,...,143,177,188,74,160,217,195,46,190,84
3,157,47,176,102,226,17,161,220,116,80,...,191,160,234,254,121,213,58,87,44,172
4,162,127,13,171,13,109,199,215,34,162,...,75,165,140,222,103,121,255,209,205,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356560,246,183,177,65,178,220,143,51,111,61,...,53,231,114,70,29,132,130,163,49,10
356561,163,188,15,43,92,236,194,146,74,251,...,1,224,6,200,74,44,211,210,195,0
356562,228,236,143,139,20,237,222,131,12,237,...,17,231,6,33,94,40,67,195,211,3
356563,246,189,177,64,243,204,185,144,111,21,...,55,163,243,6,57,134,152,135,61,8
356564,247,189,177,192,240,205,169,146,102,29,...,55,195,243,6,27,196,144,135,61,8

In [9]:
#Feature extraction for Goats images 

for filename in os.listdir(folder4):
    path=os.path.join(folder4,filename)
    a=cv2.imread(path)
    
    #resize image
    resize=(512,512)
    img=cv2.resize(a,resize)#resize image
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #append to the csv file
    csv_data=out.to_csv('fast_goats.csv', mode='a', index=False)

In [10]:
#Feature vector of Goats Dataset
data4 = pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_goats.csv',dtype='uint8')
#MemoryError: Unable to allocate 166. MiB for an array with shape (128, 169606) and data type float64,
#Double-precision floating-point format

data4=data4.astype(np.uint8) 
#as unit8 contain 1 byte(8bit) and ranges from 0 to 255
data4

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,151,116,240,205,21,201,93,153,166,169,...,49,74,81,20,165,74,218,208,81,106
1,94,87,185,100,233,141,161,220,238,20,...,63,82,243,86,29,215,187,71,29,56
2,154,91,58,171,12,73,197,159,138,250,...,177,241,1,218,70,120,211,193,193,66
3,160,124,79,171,15,98,198,41,26,227,...,65,188,12,107,198,59,237,208,194,86
4,122,71,136,68,169,154,161,220,180,84,...,255,178,121,212,233,199,190,79,28,189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447403,171,166,109,120,63,226,94,96,41,195,...,200,172,29,236,229,26,166,188,166,252
447404,77,136,8,119,180,185,30,35,81,75,...,232,3,126,180,181,72,37,52,101,47
447405,72,64,79,190,15,182,70,41,24,167,...,0,10,13,225,110,58,110,40,226,213
447406,96,192,70,154,51,182,46,107,157,143,...,8,78,135,33,142,162,4,40,174,213
447407,107,83,111,124,123,54,50,12,17,163,...,68,62,28,214,170,50,174,94,130,149

In [11]:
#performing kmeans on each class
#Dog
kmeans1 = KMeans(n_clusters=5)
kmeans1.fit(data1)

#Cat
kmeans2 = KMeans(n_clusters=5)
kmeans2.fit(data2)

#cow
kmeans3 = KMeans(n_clusters=5)
kmeans3.fit(data3)

#Goat
kmeans4 = KMeans(n_clusters=5)
kmeans4.fit(data4)

KMeans(n_clusters=5)

In [12]:
#histograms of all the classes

hist1=np.histogram(kmeans1.labels_,bins=[0,1,2,3,4,5])
hist2=np.histogram(kmeans2.labels_,bins=[0,1,2,3,4,5])
hist3=np.histogram(kmeans3.labels_,bins=[0,1,2,3,4,5])
hist4=np.histogram(kmeans4.labels_,bins=[0,1,2,3,4,5])

print('histogram of Dogs')
print(hist1,"\n")

print('histogram of Cats')
print(hist2,"\n")

print('histogram of Cows')
print(hist3,"\n")

print('histogram of Goats')
print(hist4,"\n")

histogram of Dogs
(array([64254, 48556, 51586, 57654, 56546], dtype=int32), array([0, 1, 2, 3, 4, 5]))

histogram of Cats
(array([83660, 80655, 76402, 77046, 61591], dtype=int32), array([0, 1, 2, 3, 4, 5]))

histogram of Cows
(array([60343, 66601, 74159, 74233, 81229], dtype=int32), array([0, 1, 2, 3, 4, 5]))

histogram of Goats
(array([ 72036,  91986,  84793, 104188,  94405], dtype=int32), array([0, 1, 2, 3, 4, 5]))

In [13]:
#performing kmeans prediction of the entire Dog dataset with the pretrained kmeans model


#initialising i=0; as its the first class
i=0
data=[]

for filename in os.listdir(folder1):
    path=os.path.join(folder1,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans1.predict(array_double)
    
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('fast_DogFinal.csv', mode='a', index=False)

In [14]:
#performing kmeans prediction of the entire Cat dataset with the pretrained kmeans model


#initialising i=1; as its the first class
i=1
data=[]

for filename in os.listdir(folder2):
    path=os.path.join(folder2,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans2.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('fast_CatFinal.csv', mode='a', index=False)

In [15]:
#performing kmeans prediction of the entire Cow dataset with the pretrained kmeans model


#initialising i=2; as its the first class
i=2
data=[]

for filename in os.listdir(folder3):
    path=os.path.join(folder3,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans3.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('fast_CowFinal.csv', mode='a', index=False)

In [16]:
#performing kmeans prediction of the entire Goat dataset with the pretrained kmeans model


#initialising i=3; as its the first class
i=3
data=[]

for filename in os.listdir(folder4):
    path=os.path.join(folder4,filename)
    a=cv2.imread(path)
    resize=(512,512)
    img=cv2.resize(a,resize)
    gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    #initialise fast keypoint
    fast = cv2.FastFeatureDetector_create()
    kp = fast.detect(gray,None)
    
    #initialise BRIEF
    brief = cv2.xfeatures2d.BriefDescriptorExtractor_create()
    kp, des = brief.compute(gray, kp)
    
    #convert the descriptor array into a dataframe format
    out=pd.DataFrame(des)
    
    #predict values of feature vector with pretrained kmeans
    #ValueError: Buffer dtype mismatch, expected 'float' but got 'double', in order to avoid this dtype=np.double
    
    array_double = np.array(out, dtype=np.double)
    a=kmeans4.predict(array_double)
    hist=np.histogram(a,bins=[0,1,2,3,4,5])
    #append the dataframe into the array in append mode, the array will only have 5 values which will store the values in a row
    data.append(hist[0])
    
#convert Array to Dataframe and append to the list
Output = pd.DataFrame(data)
#add row class 
Output["Class"] = i 
csv_data=Output.to_csv('fast_GoatFinal.csv', mode='a', index=False)

In [17]:
print("Dog")
dat1= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_DogFinal.csv')
print(dat1)

Dog
       0    1    2    3    4  Class
0    841  641  671  692  433      0
1    396  333  285  293  485      0
2    997  687  809  519  966      0
3    396  333  285  293  485      0
4    518  475  454  481  731      0
..   ...  ...  ...  ...  ...    ...
96   449  218  418  503  210      0
97   703  710  514  886  857      0
98   935  908  848  833  996      0
99   307  229  179  136  268      0
100  841  641  671  692  433      0

[101 rows x 6 columns]

In [18]:
print("Cat")
dat2= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_CatFinal.csv')
print(dat2)

Cat
        0     1     2     3     4  Class
0    1682  1185  1660  1323   788      1
1    1008  1415   712  1698   831      1
2    2099  1360  1886  1008  1102      1
3    1794  1821  2577  1169  1468      1
4    1041  1901  1035   951   956      1
..    ...   ...   ...   ...   ...    ...
96    440   829   346   239   234      1
97    286   285   342   242   169      1
98    418   244   247   145   197      1
99    260   127   265   106    79      1
100  2118  1866  1969  2743  1574      1

[101 rows x 6 columns]

In [19]:
print("Cow")
dat3= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_CowFinal.csv')
print(dat3)

Cow
        0     1     2     3     4  Class
0     380   568   660  1055   594      2
1     506   705   654   538   899      2
2     326   594   373   538   719      2
3     380   538   664   656   773      2
4     694   715   782   559   950      2
..    ...   ...   ...   ...   ...    ...
96    703   674   552   619   653      2
97   2310  2458  2254  2051  3020      2
98   1630  1531  2334  2226  1593      2
99   1549  1247  2530  1835  1967      2
100   703   459   959  1696  1986      2

[101 rows x 6 columns]

In [20]:
print("Goat")
dat4= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\fast_GoatFinal.csv')
print(dat4)

Goat
        0     1     2     3     4  Class
0     909   637  1018  1053  1017      3
1     302   291   263   350   283      3
2     444   583   555   607   851      3
3    1103  1467  1200  1648  1284      3
4     554   666   616   541   453      3
..    ...   ...   ...   ...   ...    ...
96    449   616   493   475   625      3
97    907  1100  1175  1177  1088      3
98    482   669  1404  1241   662      3
99   1481  1157  1986  2058  1290      3
100  1443  1489  1825  2071  1261      3

[101 rows x 6 columns]

In [21]:
#appending All classes into 1 csv file

A=dat1.append(dat2)
A=A.append(dat3)
A=A.append(dat4)

csv_data=A.to_csv('Fast_Final.csv', mode='a', index=False)

In [22]:
data= pd.read_csv(r'C:\Users\francis\Desktop\2nd Semester\CV\Lab\CV_LAB11\Fast_Final.csv')
data.columns=['1','2','3','4','5','Class']
#Total no of images = 404
print(data)

        1     2     3     4     5  Class
0     841   641   671   692   433      0
1     396   333   285   293   485      0
2     997   687   809   519   966      0
3     396   333   285   293   485      0
4     518   475   454   481   731      0
..    ...   ...   ...   ...   ...    ...
399   449   616   493   475   625      3
400   907  1100  1175  1177  1088      3
401   482   669  1404  1241   662      3
402  1481  1157  1986  2058  1290      3
403  1443  1489  1825  2071  1261      3

[404 rows x 6 columns]